{% extends 'base_generic.html' %}


{% block content %}
    <h2>Вход</h2>

    {% if form.errors %}
        <p>Псевдо и пароль не совпадают. Попробуйте снова.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <button type="submit" class="btn btn-outline-danger">Вход</button>

        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p>
        <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    </p>
{% endblock %}