{% extends 'base_generic.html' %}


{% block content %}
<h2>Currencies list</h2>

{% if currency_list %}
<ul class="list-group">
    {% for currency in currency_list %}
    <li class="list-group-item">
        <a class="text-decoration-none" href="{% url 'currency-detail' currency.pk %}">{{ currency }}</a>
        <!--{{ currency.exchange_rate.all|join:", " }}-->
        {% if perms.catalog.staff_member_required %}
         <a href="{% url 'currency-update' currency.pk %}" role="button" class="btn btn-outline-danger">UPDATE</a>/

         <a href="{% url 'currency-delete' currency.pk %}" role="button" class="btn btn-outline-danger">DELETE</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no currencies in the system.</p>
{% endif %}
{% endblock %}