{% extends 'base_generic.html' %}


{% block content %}
<h2>Курс валют</h2>

{% if currency_list %}
<ul class="list-group">
    <li class="list-group-item">
        {{ currency.name }}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Валюта</th>
                <th scope="col">Курс валюты</th>
            </tr>
            </thead>
            <tbody>
            {% for currency in currency_list %}
            <tr>
                <th scope="row">{{currency.id}}</th>
                <td>{{currency.name}}</td>
                <td>
                    <table class="table">
                        {% for currency_to in currency.currency_to.all %}
                        <tr>
                            <td scope="row">{{currency_to.currency}}</td>
                            <td class="col-2">{{currency_to.rate}}</td>
                            <td scope="row">
                                {% if perms.catalog.staff_member_required %}
                            <td>
                                <a href="{% url 'exchange_rate_update' currency_to.pk %}" role="button"
                                   class="btn btn-outline-danger">Изменить</a>
                            </td>
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </li>

</ul>
{% else %}
<p>There are no currencies in the system.</p>
{% endif %}
{% endblock %}