{% extends 'base_generic.html' %}


{% block content %}
    <h2>Мои доходы</h2>

    <a href="{% url 'income-create' %}" role="button" class="btn btn-outline-danger">Добавить</a>

    {% if income_list %}
        <ul class="list-group">
            {% for income in income_list %}
                <li class="list-group-item">
                    {{ income }}

                    <a href="{% url 'income-update' income.pk %}" role="button" class="btn btn-outline-danger">Изменить</a>

                    <a href="{% url 'income-delete' income.pk %}" role="button" class="btn btn-outline-danger">Удалить</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Так жить нельзя.</p>
    {% endif %}
{% endblock %}