{% extends 'base_generic.html' %}


{% block content %}
    <h2>Счёт</h2>
    <button>Обновить</button>
    <hr>
    <table class="table col-4">
        <caption>Счёт в валюте</caption>

        {#{% for i in range(account_currencies) %}#}
        <tr>
            <td>
                {{ i }}
            </td>
        </tr>
        {#{% endfor %}#}
    </table>
    <table class="table">
        <caption>Курс валют</caption>
        <tr>
            <th>Валюта</th>
            <th>Курс</th>
            <th>Дата</th>
        </tr>
        {#{% for i in range(exchange_rates) %}#}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.rate }}</td>
            {#<td>{{datetime.datetime.utcnow.strftime('%d-%m-%Y')}}</td>#}
        </tr>
        {#{% endfor %}#}
    </table>
{% endblock %}